<ion-header class="ion-no-border">
    <ion-toolbar color="dark">

        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" color="warning"></ion-back-button>
        </ion-buttons>

        <ion-title>{{lista.titulo}}</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="medium">

    <!-- <ion-list *ngIf="!lista.fechaCompletada"> -->
    <ion-list>
        <ion-item color="medium">
            <ion-label position="floating" class="closed">Nuevo Item</ion-label>
            <ion-input type="text" [(ngModel)]="nombreItem" (keyup.enter)="agregarItem()"></ion-input>
        </ion-item>
    </ion-list>

    <ion-list>

        <ion-list-header color="dark" *ngIf="lista.items.length > 0">
            <ion-label>Tareas por hacer</ion-label>
        </ion-list-header>

        <ion-item-sliding *ngFor="let item of lista.items; index as i" class="animated fadeInDown">

            <ion-item>
                <ion-checkbox slot="start" color="success" [(ngModel)]="item.completado" (ionChange)="changeCheck(item)"></ion-checkbox>
                <ion-label>{{item.descripcion}}</ion-label>
            </ion-item>

            <ion-item-options side="end">
                <ion-item-option color="danger" (click)="eliminarItem(i)">
                    <!-- <ion-icon slot="icon-only" name="trash-outline"></ion-icon> -->
                    <ion-icon slot="start" name="trash-outline"></ion-icon>
                    delete
                </ion-item-option>
            </ion-item-options>

        </ion-item-sliding>

    </ion-list>


</ion-content>

<!-- 
<ion-item-sliding>
    <ion-item-options side="start">
        <ion-item-option (click)="favorite(item)">Favorite</ion-item-option>
        <ion-item-option color="danger" (click)="share(item)">Share</ion-item-option>
    </ion-item-options>

    <ion-item>
        <ion-label>Item Options</ion-label>
    </ion-item>

    <ion-item-options side="end">
        <ion-item-option (click)="unread(item)">Unread</ion-item-option>
    </ion-item-options>
</ion-item-sliding>
 -->

<!-- 
<ion-item-sliding>
    <ion-item-options side="start">
        <ion-item-option color="danger" expandable>
            Delete
        </ion-item-option>
    </ion-item-options>

    <ion-item>
        <ion-label>Expandable Options</ion-label>
    </ion-item>

    <ion-item-options side="end">
        <ion-item-option color="tertiary" expandable>
            Archive
        </ion-item-option>
    </ion-item-options>
</ion-item-sliding>
 -->