<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar color="dark">
        <ion-title>
            Pendientes
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" detail color="medium">

    <app-listas [tabName]="'tab1'"></app-listas>

    <!-- esto lo ponemos en un componente para poder reutilizarlo
    <ion-list>
        <ion-item *ngFor="let lista of todoService.listas" detail color="light" (click)="verLista(lista)" class="animated fadeInDown">
            <ion-label>
                <ion-icon slot="start" name="clipboard-outline" color="warning"></ion-icon>
                {{lista.titulo}}
            </ion-label>
            <ion-note slot="end" color="tertiary">{{lista.items.length}} items</ion-note>
        </ion-item>
    </ion-list>
    -->

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="warning" (click)="agregarLista()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>